<!DOCTYPE html>
<html>
    <head>
        <title>My First View!!</title>
    </head>
    <body>
        <% time = Time.new %>
        <% date = time.strftime("%A, %B %d, %Y")%>
        <p> <%= "The date is #{date}" %> </p>
    </body>
</html>